.dumi-default-doc-layout {
  .dumi-default-header {
    .dumi-default-header-content {
      max-width: 1600px;

      .dumi-default-header-left {
        width: auto;
        margin-right: 4rem;
        .dumi-default-header-left {
        }
        .dumi-default-logo {
        }
      }
      .dumi-default-header-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .dumi-default-navbar {
          margin-right: 2rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          li {
            margin-right: 2rem;
          }
        }
        .dumi-default-header-right-aside {
        }
      }
    }
  }
  .dumi-default-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    .dumi-default-hero-title {
      font-size: 100px;
    }

    @media screen and (max-width: 768px) {
      .dumi-default-hero-title {
        font-size: 50px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  main {
    .dumi-default-content {
      .dumi-default-previewer {
      }
    }
  }
  .dumi-default-features {
  }
}

.ant-form-item {
  margin: 0.5rem 0;
}
